body, ul, li, h1, h2, a{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

header{
    background-color: #91AEBC;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
}

header h1{
    color: white;
    border: 10px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 25px;
}

.banner{    
    position: relative;
    margin-top: 20px;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    color: #91AEBC;
    position: absolute;
    left: 0;
    top: 30%;
    padding: 30px;
}

.banner h2{
    font-size: 74px;
}

.banner h2 span{
    font-size: 1.3em;
}

nav{
    background-color: #f4f4f4f4;
    padding: 20px;
    position: sticky;
    top: 108px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0px auto;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: #4b4b4b;
}

nav li a.join{
    color: #91AEBC;
}

